html,
body {
    height: 100%;
}

body {
  position: relative;
  text-align: center;
}

.home {
  height: 100%;
}

.bg {
  background-image: url("./images/FullSizeRender (1).jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.typeIntro {
  font-size: 40px;
  margin-top: 20%;
}

#navbar {
  background-color: rgba(0, 4, 24, .7);
  margin: 0;
  border: 0;
  border-radius: 0;
}

.brand-name {
  color: white;
  vertical-align: middle;
  font-family: 'Space Mono';
  margin-bottom: 25px;
  margin-left: 10px;
}

.ent {
  margin-top: 5%;
}

.container {
  height: 100%;
}

.tab-container{
  padding: 0;
  border-radius: 4px;
  -moz-border-radius: 4px;
  margin-top: 30px;
}
.tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
.tab-menu .list-group{
  margin-bottom: 0;
}
.tab-menu .list-group>a{
  margin-bottom: 0;
}

.tab-menu .list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
.tab-menu .list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
.tab-menu .list-group>a.active {
  background-color: rgba(0, 4, 24, .7);
  color: white;
}
.tab-menu .list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid rgba(0, 4, 24, .7);
}

.tab-content{
  background-color: rgba(0, 4, 24, .5);
  padding: 10px;
  height: auto;
  color: white;
}

.tab-content.active {
  background-color: rgba(0, 4, 24, .5);
}

.tab .tab-content:not(.active){
  display: none;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 15px;
  font-size: 16px;
  margin-top: 10px;
  color: white;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
