html,
body {
    height: 100%;
}

body {
  position: relative;
  text-align: center;
}

.home {
  height: 100%;
}

.bg {
  background-image: url("./images/FullSizeRender (1).jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.typeIntro {
  font-size: 40px;
  margin-top: 20%;
}

#navbar {
  background-color: black;
  padding: 0.5%;
  margin: 0;
  opacity: 0.6;
  border: 0;
}

.brand-name {
  color: white;
  opacity: 1.0;
  vertical-align: middle;
  font-family: 'Space Mono';
  margin-bottom: 20px;
  margin-left: 10px;
}

.ent {
  margin-top: 5%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 15px;
  font-size: 16px;
  margin-top: 10px;
  color: white;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
